@model IEnumerable<ITory.Models.Tipo_Inventario>

@{
    ViewBag.Title = "Inventarios";
}

<div class="card ">
    <div class="card-header container-fluid text-white" style="background-color:#ffb034">
        <div class="row">
            <div class="col-md-9">
                <h3>Tipos de inventarios</h3>
            </div>
            <div class="col-md" style="padding-top:10px;">
                <div class="float-right">
                    <form method="get" class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                        <input class="form-control form-control-sm ml-3 w-75" name="Criterio" id="Criterio" type="text" placeholder="Search"
                               aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="col-md" style="padding-top:10px;">
                <div class="float-right">

                    <a class="btn btn-light" href="@Url.Action("Create", "Tipo_Inventario")"><i class="glyphicon glyphicon-plus"></i>Añadir</a>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cuenta_Contable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cuenta_Contable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm " title="Editar" href="@Url.Action("Edit", "Tipo_Inventario", new { id=item.idTipoInventario})"><i class="glyphicon glyphicon-edit"></i> </a>
                        <a class="btn btn-info btn-sm " title="Detalles" href="@Url.Action("Details", "Tipo_Inventario", new { id = item.idTipoInventario })"><i class="glyphicon glyphicon-eye-open"></i> </a>
                        <a class="btn btn-danger btn-sm " title="Eliminar" href="@Url.Action("Delete", "Tipo_Inventario", new { id=item.idTipoInventario})"><i class="glyphicon glyphicon-trash"></i> </a>
                    </td>
                </tr>
            }

        </table>
</div>
</div>